html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  background: #f7fefe;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 300px;
  background-image: url(../img//cartoon.gif);
  background-repeat: no-repeat;
  cursor: pointer;
}

.p2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


.p2-word { 
  flex: 0 0 40%;
  padding: 30px 10px 10px 10px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  white-space: pre-wrap;
  line-height: 12px;
  font-size: 16px;
}

.p2-pic {
  flex: 0 0 60%;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.p2 .btn-wrapper {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: calc(100vw * 0.4);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}


.p3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}

.p3-category { 
  flex: 0 0 50%;
  /* padding: 20px 10px 10px 10px; */
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  white-space: pre-wrap;
  line-height: 12px;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.p3-gif {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.p3 .btn-wrapper {
  position: absolute;
  left: 30px;
  bottom: 20px;
  width: calc(100vw * 0.45);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  box-sizing: border-box;
}

#p5 .btn-wrapper {
  width: calc(100vw * 0.36);
  right: 20px;
}

.p5-gif {
  flex: 0 0 40%; 
  display: flex; 
  flex-flow: column nowrap
}

.p5-category {
  flex: 0 0 60%;
  justify-content: flex-start;
  padding-top: 10px !important;
}

.p5-pic {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.p5-pic .img {
  flex: 0 0 19%;
  display: flex;
  flex-flow: column nowrap;
}

.p5-pic .img span {
  padding-top: 15px;
  color: rgba(0,0,0,0.8);
  font-size: 12px;
}


.p5-pic .img img {
  width: 100%;
  object-fit: cover;
}

.swiper-pic {
  width: calc(60vw - 40px);
  height: calc(100vh - 20px);
  object-fit: cover;
}

.btn{
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.p3-category{
  width: 100%;
  padding: 40px 60px 0 60px;
  box-sizing: border-box;

}
.p3-category ol{
	      counter-reset: li;
				list-style: none;
				*list-style: decimal;
				font: 15px 'trebuchet MS', 'lucida sans';
				padding: 0;
				margin-bottom: 10px;

}
.p3-category ol ol{
				margin: 0 0 0 2em;
			}

.p3-category a{
				position: relative;
				display: block;
				padding: .4em .4em .4em 2em;
				*padding: .4em;
				margin: .5em 0;
				background: #FFF;
				color: #444;
				text-decoration: none;
				-moz-border-radius: .3em;
				-webkit-border-radius: .3em;
				border-radius: .3em;
			}

.p3-category a:hover{
				background: #cbe7f8;
        text-decoration:underline;
        text-decoration: none;
			}
.p3-category a:before{
        /* content: counter(li); */
        content: counter(li, lower-roman);
				counter-increment: li;
				position: absolute;	
				left: -1.3em;
				top: 50%;
				margin-top: -1.3em;
				background: #87ceeb;
				height: 2em;
				width: 2em;
				line-height: 2em;
				border: .3em solid #fff;
				text-align: center;
				font-weight: bold;
				-moz-border-radius: 2em;
				-webkit-border-radius: 2em;
				border-radius: 2em;
        color:#FFF;
}
      
.p3-sub-category a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
}

.p3-1-pic {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  
}

.p3-1-pic li {
  flex: 0 0 20%;
  list-style-type: none;
}

.p3-1-pic li img{
  width: 100%;
}

.modal-p3-common-pic {
  display: flex;
  flex-flow: row nowrap;
  justify-self: center;
}

.modal-p3-common-pic img{
  width: 100%;
}

#p4-word {
  line-height: 20px;
  text-align: left;
}

.poor {
  position: absolute;
  top: 10px;
  left: 10vw;
}

#p6-word {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#p6-word span{
  display: block;
  text-align: center;
  line-height: 40px;
}

#p6 .btn-wrapper {
  width: calc(100vw * 0.96);
}

#p6 .p3-gif {
  display: flex;
  flex-flow: column nowrap;
}

.egg {
  padding-top: 50px;
  width: 50px;
  cursor: pointer;
}

.egg:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.p6-modal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.p6-modal p {
  flex: 0 0 45%;
  line-height: 22px;
  color: rgba(0,0,0,0.7);
  font-size: 14px;
}